{
  "app": "npx ts-node bin/prism.ts",
  "context": {
    "@aws-cdk/core:enableStackNameDuplicates": "true",
    "aws-cdk:enableDiffNoFail": "true",
    "production": {
      "env": {
          "account": "123456789012",
          "region": "ap-northeast-1"
        },
        "hostedZoneId": "YOURHOSTEDZONEID",
        "hostedZoneName": "your.domain.here",
        "bucketSubdomain": "doc",
        "mockSubdomain": "mock",
        "vpcId": "vpc-1234abcd",
        "ipAddressAllowlist": [
            "1.2.3.4/32"
        ]
    }
  }
}
